* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fce38a;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#p_app {
    width: 25.625rem;
    height: 36.813rem;
    position: relative;
    top: 5rem;
    border-radius: 50px;
    box-shadow: 15px 15px 20px 10px #b3b3b3;
    border: 1px solid white;
    background-color: #f38181;
}

#p_img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    margin: auto;
    margin-top: 2rem;
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-image: url('./img/test.png');  
}

#p_details {
    text-align: center;
    margin: 2rem 0 0 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: none;
    color: white;
}
#p_title {
    margin-bottom: 1rem;
    background: none;
}

#p_desc {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    box-shadow: 6px 8px 18px rgba(138, 87, 87, 1);
}

#previous:active, #play:active, #next:active {
    color: black;
    background-color: #dd4c4c;
}


#p_control {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 4.5rem;
    font-size: 1.5rem;
    background: none;
}

#previous {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: none;
    color: white;
}

#play {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: none;
    color: white;
}

#next {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: none;
    color: white;
}